<div class="relative flex flex-col justify-center h-screen overflow-hidden">
  <div class="w-full p-6 m-auto bg-indigo-950 rounded-md shadow-md lg:max-w-lg">
    <h1 class="text-3xl font-semibold text-center text-indigo-200">Bem vindo MYFin</h1>
    <form [formGroup]="form" (submit)="handleForm()" class="space-y-4 mt-2">
      <div>
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input
          type="text"
          formControlName="email"
          placeholder="E-mail"
          class="input input-bordered w-full"
        />
        <div class="text-red-400 mt-1" *ngIf="showFieldError('email')">
          <div *ngIf="form.get('email')?.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="form.get('email')?.errors?.['email']">
            Email is invalid
          </div>
        </div>
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="input input-bordered w-full"
        />
        <div class="text-red-400 mt-1" *ngIf="showFieldError('password')">
          <div *ngIf="form.get('password')?.errors?.['required']">
            Password is required
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-block" [disabled]="form.invalid">Log In</button>
    </form>
  </div>
</div>
